<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    .button {
        color: silver;
        padding: 30px 60px;
        font-size: 40px;
        display: flex;
    }
    .righttext {
        text-align: left;
        position: absolute;
        top: 0;
        right: 30px;
        font-size: 40px;

    }

</style>
<body>
<button onclick="takaisin()" class ="button" type="button">Takaisin</button>
<p class ="text" id="score"></p>
<p class ="text" id="raha"></p>
<p class ="text" id="kierrokset"></p>
</body>
<script>
    window.onload = function () {
        score();
        raha();
        kierrokset();
    }
    function score(){
        let score = 10
        document.getElementById('score').innerHTML = `Score: ${score}`;
    }
    function raha() {
        let raha = 1000
        document.getElementById('raha').innerHTML = `Raha: ${raha}`;
    }
    function kierrokset() {
        let kierrokset = 2
        document.getElementById('kierrokset').innerHTML = `Kierrokset: ${kierrokset}`;
    }


    function takaisin() {
        window.location.href = "userinterface.html"
    }
</script>
</html>