<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Säätila</title>
    <link rel="stylesheet" href="weather.css">
  </head>
  <body>
      <div id="weather-container">

          <input type="text" id="city-input" placeholder="Syötä kaupunki">
          <button id="search-button">Search</button>
          <h2 id="city"></h2>
          <img id="weatherpics" width="100px" height="100px">
        <p><b>Lämpötila:</b> <span id="temperature"></span> ºC</p>
        <p><b>Sää:</b> <span id="weather-condition"></span></p>
        <p><b>Tuulen nopeus:</b> <span id="wind-speed"></span> m/s</p>

      </div>




      <script src="weather.js"></script>

  </body>
</html>